.hat {
    height: 100px;
    position: relative;
    background-color: #ee0b0b;
    height: 80px;
    display: flex;
}
.name {
    color: white;
    font-family: "Times New Roman", Arial, serif;
    padding-left: 50px;
}

.hat ul {
    list-style-type: none;
    margin-top: 15px;
    margin-left:50px;
    padding: 0;
    overflow: hidden;
}
  
.hat ul li {
    float: left;
}
  
.hat ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
.hat ul li a:hover {
    text-decoration: underline;
}

body {
    hyphens: none;
}
.main-menu a {
    text-decoration: none;
}

.mySlides img {
    float: left;
    position: relative;
    width: 75%;
    box-sizing: border-box;
}

.mySlides div{
    position: absolute;
    right: 400px;
    background-color: rgb(255, 255, 255,0.5);
    font-family: 'Times New Roman', Times, serif;
}

.address{
    font-family: 'Times New Roman', Times, serif;
    float: right;
    width: 25%;
    box-sizing: border-box;
    border: 5px green double;
    border-radius: 2ch;
}

.clearfix{
    clear: both;
}

